.heading
{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start, #status
{
    font-size:22px;
}

.big_image
{
    width: 100%;
}

h4
{
background-color: white;
margin: 0px;
line-height: 2;
}

.modal-dialog
{
    width: 90%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}

video
{
    background: url('game_console.png');
    background-position: center;
    background-size: cover;
    padding: 25px;
}